#app {
  padding: 20px;
}
.comment-form {
  width: 1150px;
}
.comment-form .input-group {
  margin: 10px 0;
}
.pressy {
  padding: 18px;
  cursor: context-menu;
  font.size: 18px;
  border-style: solid;
  border-radius: 0%;
  margin: 10px;
  padding-color: rgb(0, 200, 0);
}
.pressy2 {
  padding-right: 12px;
}
.body {
  margin: 20px;
  font-family: sans-serif, mono;
}
#d {
  margin: 25px;
}


